<app-task-container>
  <span header>Список задач</span>

  <app-task-form (addTask)="addTask($event)"></app-task-form>

  @if(isLoading | async){
  <div class="loader">
    <span>Загрузка...</span>
  </div>
  } @else {
  <ul class="task-list">
    @for (task of tasks | async; track task.id) {
    <app-task-item
      [task]="task"
      (toggleCompleted)="toggleTaskCompleted($event)"
      (deleteTask)="deleteTask($event)"
    >
      <a [routerLink]="['/tasks', task.id]">{{ task.title }}</a>
    </app-task-item>
    }
  </ul>
  }
</app-task-container>
